<a href="https://colab.research.google.com/github/anjanadritn/LIBRARIAN-MANAGEMENT/blob/main/skill_lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
number=random.randint(1,10)
print('can you guess a number in my mind?')
guess=int(input('enter your guess:'))
if guess==number:
  print('congradulation u guessed number is correct')
else:
  print(f'better luck next time .the number was{number}')

can you guess a number in my mind?
enter your guess:6
better luck next time .the number was10

guessing a number

In [ ]:
import random
y=int(random.randint(1,10))
print(input('enter your name:'))
while True:

  x=int(input('guess a number from 1 to 10:'))
  if x<y:
    print('too low! try again.')
  elif x>y:
    print('to high! try agin')
  else:
    print('your guess is correct')
    break

enter your name:anjan
anjan
guess a number from 1 to 10:5
to high! try agin
guess a number from 1 to 10:4
to high! try agin
guess a number from 1 to 10:3
to high! try agin
guess a number from 1 to 10:2
your guess is correct

In [ ]:
a='anjanaadri'
print(a[1])
for x in 'banana':
  print(x)
print(len(x))
c='apple'
print(len(c))

n
b
a
n
a
n
a
1
5

in

In [ ]:
texxt='take what u can give nothing back'
print('backs' in texxt)

False

not in

In [ ]:
texxt='take what u can give nothing back'
print('backs'not in texxt)

True

In [ ]:
a='anjanadri is good boy'
print(a[1:8:2])
print(a[2:])
print(a[-5:-2])
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace('a','A'))
print(a.split(','))

naar
janadri is good boy
d b
ANJANADRI IS GOOD BOY
anjanadri is good boy
anjanadri is good boy
AnjAnAdri is good boy
['anjanadri is good boy']

modifing string

In [ ]:
def anjanadri():
  print('hi anjanadri')
  print('hengidiya')
anjanadri()

hi anjanadri
hengidiya

In [ ]:
def my_fun(fname,lname):
  print(fname  +' '+ lname)
my_fun('anjanadri','tn')

anjanadri tn

#orbitary argument(*args)

In [ ]:
def my_fun(*kids):
  print('the youngest child is'+ kids[2])

my_fun('anjnadri','rohan','rahul')

the youngest child israhul

keyword argument

In [ ]:
def my_fun(student1,student2,student3):
  print('the youngest student is '+ student3)
my_fun('anjanadri','rahul','amy')

the youngest student is amy

In [ ]:
def my_con(country='india'):
  print('i am from       ' +country)
my_con('swedan')
my_con('usa')
my_con()
my_con('russia')

i am from       swedan
i am from       usa
i am from       india
i am from       russia

In [ ]:
def table_fun_5():
    number = 5
    for i in range(1, 10):
        print(f"{number} x {i} = {number * i}")
print_table_of_5()

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
def my_fun(x):
  return 5*x
print(my_fun(1))
print(my_fun(2))
print(my_fun(3))
print(my_fun(4))
print(my_fun(5))
print(my_fun(6))
print(my_fun(7))
print(my_fun(8))
print(my_fun(9))
print(my_fun(1000000))
print(my_fun(1000000000))

5
10
15
20
25
30
35
40
45
5000000
5000000000

In [ ]:
def factorial(n):
  if n==1:
    return 1
  else:
      return n*factorial(n-1)
factorial(3)

6

In [ ]:
def fib(n):
  if n <=1:
    return n
  else:
    return fib(n-1)+fib(n-2)
term=int(input('enter the number terms'))
if term<=0:
  print('enter a positive positive integer')
else:
  print('fibonacci series:')
  for i in range (term):
    print(fib(i))

enter the number terms7
fibonacci series:
0
1
1
2
3
5
8

Data structure:
it is way of organizing or storing the data   most suffient in a memory
algorithum:
it is step by step procedure to solve perticular problem

In [ ]:
#list : it is built in data structure to store multiple value in single variable
'''
features of a list :
>>>its mutable
>>its ordered
>>>its allows duplicate values[1,2,3,4,5,7,5]
'''
thislist=['apple','banana','cherry']
print(thislist)
print(len(thislist))
print(thislist[0])

['apple', 'banana', 'cherry']
3
apple

In [ ]:
#list : it is built in data structure to store multiple value in single variable
'''
features of a list :
>>>its mutable
>>its ordered
>>>its allows duplicate values[1,2,3,4,5,7,5]
'''
#printing a lenth of list
thislist=['apple','banana','cherry']
print(thislist)
print(len(thislist))
print(thislist[0])
print(thislist[-1])

#checking for element in a list
if 'apple' in thislist:
  print('yes apple is there in this list')
if 'apple' not in thislist:
  print('yes apple is there in this list')

thislist[1]='mango'
print(thislist)
thislist[2]='koushik'
print(thislist)
#inerting values in the list at the specified position
thislist.insert(3,'shanda')
print(thislist)
# appending a new values in list
thislist.append('orange')
print(thislist)

['apple', 'banana', 'cherry']
3
apple
cherry
yes apple is there in this list
['apple', 'mango', 'cherry']
['apple', 'mango', 'koushik']
['apple', 'mango', 'koushik', 'shanda']
['apple', 'mango', 'koushik', 'shanda', 'orange']

In [ ]:
#removing the values from the list
thislist.remove('shanda')
print(thislist)

['apple', 'mango', 'koushik', 'orange']

In [ ]:
#adding the items to one list to another list
thislist=['apple','koushik','mango']
newlist=['abhi pro','sugarcane','grapes']
thislist.extend(newlist)
print(thislist)

['apple', 'koushik', 'mango', 'abhi pro', 'sugarcane', 'grapes']

In [ ]:
#pop elements from the list
thislist.pop(1)
print (thislist)

['apple', 'mango', 'abhi pro', 'sugarcane', 'grapes']

In [ ]:
#deleting the entire list
'''del thislist
print(thislist)


#looping the list
thislist=['apple','banana','cherry']
for i in thislist:
  print(i)
  for i in range(len(thislist)):
thislist=['apple','mango','grapes']'''

'''#clearing the list
thislist.clear()
print(thislist)'''


#looping the list
thislist=['apple','banana','cherry']
for i in thislist:
  print(i)
  for i in rangst
thislist=['apple','banana','cherry']
for i in thislist:
  print(i)
  for i in range(len(thislist)):
    print(thislist[i])

i=0
while i < len(thislist):
  print(thislist[i])
  i=i+1

apple
apple
banana
cherry
banana
apple
banana
cherry
cherry
apple
banana
cherry
apple
banana
cherry

tuples:this is immutable
      : allows duplicate values
      :orderd unchangable

In [ ]:
thistuple=('apple','banana','cherry')
print(thistuple)
thistuple=('apple','banana','cherry','apple','cherry')
print(thistuple)

('apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'cherry')

In [ ]:
print(len(thistuple))

5

In [ ]:
thistuple=('apple')
print(thistuple)

apple

In [ ]:
thistuple=('apple')
print(type(thistuple))

<class 'str'>

In [ ]:
thistuple=('apple','banana','cherry')
print(thistuple[1])

banana

In [ ]:
'''#adding one tuple with another
thistuple=('apple','banana','cherry')
sectuple=('orange',)
thistuple += sectuple
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
'''thistuple=('apple','banana','cherry')
y=list(thistuple)
y.remove('apple')
thistuple=tuple(y)
print(thistuple)'''

('banana', 'cherry')

In [ ]:
'''#using the de keyword throug which e can delete entire tuple
del thistuple
print(thistuple)'''

NameError: name 'thistuple' is not defined

In [ ]:
#looping in tuple
thistuple=('apple','banana','cherry')
for i in thistuple:
  print(i)

apple
banana
cherry

In [ ]:
thistuple=('apple','banana','cherry')
i=0
while i <len(thistuple):
  print(thistuple[i])
  i=i+1

apple
banana
cherry

In [ ]:
tuple1=('a','b','c')
tuple2=(1,2,3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
tuple1=('a','b','c')
tuple2=tuple1*2
print(tuple2)

('a', 'b', 'c', 'a', 'b', 'c')

python sets

In [ ]:
thisset={'apple','banana','cherry'}
print(thisset)
# duplicate values are not allowed
thisset={'apple','banana','cherry','apple'}
print(thisset)
#lenth of set
print(len(thisset))
#looping through the set
for i in thisset:
  print(i)

{'banana', 'cherry', 'apple'}
{'banana', 'cherry', 'apple'}
3
banana
cherry
apple

In [ ]:
#checking whether a perticular value exists in set or not
print('banana'in thisset)

True

In [ ]:
print('banana' not in thisset)

False

In [ ]:
#adding an item to the set
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)

{1, 2, 3, 4}

In [ ]:
thisset.add ('orange')
print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [ ]:
# adding element from one set to another set
thisset={'apple','banana','cherry'}
otherset={'papaya','koushik','tinda'}
thisset.update(otherset)
print(thisset)

{'cherry', 'tinda', 'koushik', 'papaya', 'apple', 'banana'}

In [ ]:
thisset. update(otherset)
print(thisset)

{'cherry', 'koushik', 'tinda', 'banana', 'papaya', 'apple'}

In [ ]:
#removing perticular  element in set
thisset.remove('banana')
print(thisset)

{'cherry', 'koushik', 'tinda', 'papaya', 'apple'}

In [ ]:
#adding a set
thisset.add('bananaaaaaaaa')
print(thisset)

{'cherry', 'koushik', 'tinda', 'bananaaaaaaaa', 'papaya', 'apple'}

In [ ]:
#using the clear method to empty set
thisset.clear()
print(thisset)

set()

In [ ]:
thisset={'apple','banana','cherry'}
for i in thisset:
  print(i)

banana
cherry
apple

In [ ]:
#joining of two sets
set1={'a','b','c'}
set2={1,2,3}
set3=set1.union(set2)
print(set3)

{'a', 'b', 1, 2, 3, 'c'}

In [ ]:
#or operator
set1={'a','b','c'}
set2={1,2,3}
set3=set1|set2
print(set3)

{'a', 'b', 1, 2, 3, 'c'}

In [ ]:
#using the update method to insert values from one set to another
set1={'a','b','c'}
set2={1,2,3}
set1.update(set2)
print(set1)

{'a', 'b', 1, 2, 3, 'c'}

In [ ]:
set1={1,4,5,3}
set2={1,2,3}
set3=set1.intersection(set2)
print(set3)

{1, 3}

In [ ]:
#keeping all the element from set1 that are not there in  both set
set1={1,4,5,3}
set2={1,2,3}
set3=set1.difference(set2)
print(set3)

{4, 5}

In [ ]:
set1={1,4,5,3}
set2={1,2,3}
set3=set1.difference(set2)
print(set3)

{4, 5}

In [ ]:
#we use the difference_update method to keep the items that are not present in both the set
set1={'apple','banana','cherry'}
set2={'google','microsoft','apple'}
set1.difference_update(set2)
print(set1)

{'banana', 'cherry'}

In [ ]:
#ROCK PAPER SCISSORS GAME
import random
def get_computer_choice():
  choices=['rock','paper','scissors']
  return random.choice(choices)
def get_user_choice():
  user_choice=input('enter rock,paper,or scissors:').lower()
  while user_choice not in ['rock','paper','scissors']:
    print('Invalid choice! please do enter the choice again')
    user_choice=input('enter rock,paper,or scissors: ').lower()
  return user_choice

def determine_winner(user_choice,computer_choice):
  if user_choice==computer_choice:
    return'its a tie'
  if(user_choice=='rock'and computer_choice=='scissors')or\
    (user_choice=='scissors'and computer_choice=='paper')or\
    (user_choice=='paper'and computer_choice=='rock'):
    return'you win'
  return'computer win'
def play_game():
  print('welcome to the ROCK PAPER SCISSORS GAME')
  user_choice=get_user_choice()
  computer_choice=get_computer_choice()
  print(f'you chose:{user_choice}')
  print(f'computer chose:{computer_choice}')

  result=determine_winner(user_choice,computer_choice)
  print(result)

for i in range(5):
 play_game()
 print('\n')

welcome to the ROCK PAPER SCISSORS GAME
enter rock,paper,or scissors:rock
you chose:rock
computer chose:rock
its a tie


welcome to the ROCK PAPER SCISSORS GAME
enter rock,paper,or scissors:paper

Dictionary:it is built in data structure which contains data in the form of key value pairs

In [ ]:
thisdict={
    'brand':'ferrari',
    'model':'trminator',
    'year':1939,

}
print(thisdict)

{'brand': 'ferrari', 'model': 'trminator', 'year': 2024}

In [ ]:
thisdict['year']=2024
print(thisdict)

{'brand': 'ferrari', 'model': 'trminator', 'year': 2024, 'color': 'red'}

In [ ]:
#adding items to the dictionary
thisdict['color']='red'
print(thisdict)

{'brand': 'ferrari', 'model': 'trminator', 'year': 2024, 'color': 'red'}

In [ ]:
#using the pop method:its removes an item when we specify a perticular key
thisdict.pop('color')
print(thisdict)

{'brand': 'ferrari', 'model': 'trminator', 'year': 2024}

In [ ]:
# the clear method empties the entire dictionary
thisdict.clear()
print(thisdict)

{}

In [ ]:
#looping in dictonary
thisdict={
    'brand':'ferrari',
    'model':'trminator',
    'year':1939,}

for i in thisdict:
  print(i)

brand
model
year

In [ ]:
for i in thisdict:
  print(i)
  for i in thisdict.values():
    print(i)

brand
ferrari
trminator
1939
model
ferrari
trminator
1939
year
ferrari
trminator
1939

In [ ]:
#making a copy of the existing dictionary
copydict=dict(thisdict)
print(copydict)

{'brand': 'ferrari', 'model': 'trminator', 'year': 1939}

##Algorithums:it is a step by step procedure to solve a specific or perticular problem

In [ ]:
#problem no 1: calculate the sum of two numbers
'''
the order of complexity of algorithum
1.being the fastest
8.being of slowest

1:o(1)
2:o(logn)
3:o(n)
4:o(n^2)
5:o(n^3)
6:o(n^k)
7:o(2^n)
8:o(n!)

#1. start
2. take two numbers as input
3. add the two numbers
4. output the result
5.end
'''
def add_numbers():
  a=int(input('enter thr 1st number:'))
  b=int(input('enter the 2nd number:'))
  return a+b
print(add_numbers())

enter thr 1st number:356
enter the 2nd number:3
359

In [ ]:
'''#1. start
2. take flour division as input
3. add the two numbers
4. output the result
5.end'''


def floardiv_numbers():
  a=int(input('enter thr 1st number:'))
  b=int(input('enter the 2nd number:'))
  return a//b
print(floardiv_numbers())

enter thr 1st number:3
enter the 2nd number:4
0

In [ ]:
#algorithum to find the maximum value in the list
'''
1.Initialize: Start by assuming the first element of the list is the maximum.
2.Iterate: Go through each element of the list one by one.
3.Compare: For each element, compare it with the current maximum value.
4.Update: If the current element is greater than the current maximum value, update the maximum value.
5.Continue: Continue this process until you have checked all elements in the list.
6.Result: The final value of the maximum is the largest value in the list.'''
def find_max(numbers):
  max_value = numbers[0]
  for i in numbers:
   if i>max_value:
    max_vlaue = i
  return max_value
print(find_max([7,14,1,2]))

7


#algorithum for factorial program

In [ ]:
'''1.Iterative Method: Simple and efficient for most cases.
2.Recursive Method: Elegant but can lead to stack overflow for large nn due to deep recursion.
3.Built-in Function: Best for ease and performance if using Python.
4.Dynamic Programming: Useful for very large values where you want to avoid recalculations.
5.Memoization: Optimizes recursive approach by avoiding repeated calculations.'''
def fact(n):
 if n==1:
   return 1
 else:
    return n *fact(n-1)
print(fact(5))

120

In [ ]:
#problem statement:print the fibonacci series of the no of terms
'''
1.start
2. take the n value
3. if n is less than or equal 1 then we return the value of n
4. else if the value iiis more then we do fibonacci(n-1)+fibonacci
5. print the output
6.end'''
def fib(n):
  if n<= 1:
    return n
  else:
    return fib(n-1)+fib(n-2)
terms=int(input('enter the no of terms'))
if terms<=0:
  print('enter a positive value')
else:
  print('the fib series will be:')
  for i in range (terms):
   print(fib(i))

enter the no of terms4
the fib series will be:
0
1
1
2

# algorithum for pallindrome

In [ ]:
'''1.start
2.take the input as string
3.reverse the entered string
4.compare the existing string the reversed string
5.if they are equal then we print that it is a pallindrome
6.end'''
def is_pall(word):
  reversed_word=word[::-1]
  if word==reversed_word:
    return True
  else:
      return False
print(is_pall('madam'))

True

In [ ]:
#bubble sort:sorting of a given list bubb;e sort
'''
1. start
2.take the inputs a s array
3.consider 2 numbers and compare the 1st value with the adjacent value in array
4.if the element are in the wrong order than swap them
5.repeat until no more swaps are needed'''

def bubble_sort(arr):
  n=len(arr)
  for i in range(n):
    for j in range(0,n-i-1):
      if arr[j]>arr[j+1]:
          arr[j],arr[j+1]=arr[j+1],arr[j]
  return arr
print (bubble_sort([7,14,1,6,20]))

[1, 6, 7, 14, 20]

In [ ]:
#linear search: it is a straightforward algorithum that checks
#each element in a list , one by one until it finds the element we are
#looking for

def lin_search(arr,target):
  for i in range(len(arr)):
    if arr[i]==target:
      return i  #print(f'the element found at{i} th index')
  return-1
numbers=[10,20,30,40,50,]
print(lin_search(numbers,40))

3

In [ ]:
# replaced words insted of numbers
def lin_search(arr, target):
    for i in range(len(arr)):
        if arr[i] == target:
            return i
    return -1
words = ["apple", "banana", "cherry", "grapes", "mango"]
print(lin_search(words, "cherry"))
print(lin_search(words, "grapes"))

2
3

#Binary search :Binary search is a more efficient search algorithm compared to linear search,O(logn) but it requires that the list be sorted. It works by repeatedly dividing the search interval in half and checking if the target is in the lower or upper half of the interval.
#complexity of O(n) in binary search it repeatedly divides the search
#the searching interval in half  if the target value is less than midponit we go to the left side if itis more than the midpoint we go to the right and find for the target value

In [ ]:
def bin_search(arr,target):
  left=0
  right=len(arr)-1
  while left<=right:
    mid=(left+right)//2
    if arr[mid] == target:
      return mid
    elif arr[mid]<target:
      left=mid
    else:
        right=mid-1
  return-1
numbers=[10,20,30,40,50]
print(bin_search(numbers,40))

3

In [ ]:

import random
def love_calculate():
  print('welcome to love calculator')

name1=input('enter the first name:')
name2=input('enter the second name:')
love_score=random.randint(1,100)
print(f'the percentage of love b/w { name1 } and { name2 } is {love_score}%')
love_calculate()

enter the first name:abhilash
enter the second name:kippi keerthi
the percentage of love b/w abhilash and kippi keerthi is 34%
welcome to love calculator

In [ ]:
!pip install gradio
import gradio as gr
#expense tracker were we use linear search and binary search
transactions = [
{"date": "2024-08-01", "amount": 50.0, "description": "Groceries"},
{"date": "2024-08-02", "amount": 20.0, "description": "Bus fare"},
{"date": "2024-08-03", "amount": 100.0, "description": "Electricity bill"},
{"date": "2024-08-04", "amount": 200.0, "description": "New shoes"},
]
#linear search for Transaction by date
def search_by_date(transactions,targate_date):
  for transaction in transactions:
    if transaction["date"] == targate_date:
      return transaction
  return "transaction not found"
print(search_by_date(transactions,"2024-08-02"))

{'date': '2024-08-02', 'amount': 20.0, 'description': 'Bus fare'}

#linked list

In [ ]:
#linked list: it consist of multiple noads which are linked to each of thisd perticular nodeso.
#which have a certain amount of perticular node provides a pointer or a link to the next node

In [ ]:
'''Types of linked list:
1. Ssingly Linked List

    Description: Each node contains a single link or reference to the next node in the sequence. It allows traversal in only one direction.
2.Doubly Linked List

    Description: Each node contains two references: one to the next node and one to the previous node. This allows traversal in both directions.
3.Circular Linked List

    Description: The last node in the list points back to the first node, forming a circle. This can be implemented as either singly or doubly linked.'''

#ICE CREAM SHOP

In [ ]:
# anjanadri Ice cream shop
print('anjanadri ice cream shop')


def orange():
  r=100
  a= int(input('how much ice cream do u want'))
  b=r-a
  c=a*10
  print(f'please pay {c}amount for {a} orange ice cream')
  y=input('had you paind it ?')
  if y in ('yes','YES','Yes'):
    print('Take it,thank you!')
  elif y in ('no','NO','No'):
    print('come back with money')
  else:
    print('enter correctly')

def straberry():
  r=100
  a= int(input('how much ice cream do u want'))
  b=r-a
  c=a*15
  print(f'please pay {c}amount for {a} straberry ice cream')
  y=input('had you paind it ?')
  if y in ('yes','YES','Yes'):
    print('Take it,thank you!')
  elif y in ('no','NO','No'):
    print('come back with money')
  else:
    print('enter correctly')

def venilla():
  r=100
  a= int(input('how much ice cream do u want'))
  b=r-a
  c=a*18
  print(f'please pay {c}amount for {a} venilla ice cream')
  y=input('had you paind it ?')
  if y in ('yes','YES','Yes'):
    print('Take it,thank you!')
  elif y in ('no','NO','No'):
    print('come back with money')
  else:
    print('enter correctly')

def chocolate():
  r=100
  a= int(input('how much ice cream do u want'))
  b=r-a
  c=a*25
  print(f'please pay {c}amount for {a} chocolate ice cream')
  y=input('had you paind it ?')
  if y in ('yes','YES','Yes'):
    print('Take it,thank you!')
  elif y in ('no','NO','No'):
    print('come back with money')
  else:
    print('enter correctly')
def customer():

  while True:
    print('select your favorite flavor of ice cream:')
    need=input('1.orange  2.straberry 3.venilla. 4chocolate:')
    if need == '1':
      orange()
      break
    elif need == '2':
      straberry()
      break
    elif need == '3':
      venilla()
      break
    elif need == '4':
      chocolate()
      break
    else:
      print('enter the right option:')
    break
def product():
  print('wait')

def details():
  data=input('select 1 for owner:\n select 2 for customer')
  if data in ('1'):
    product()
  elif data in ('2'):
    customer()

details()

anjanadri ice cream shop
select 1 for owner:
 select 2 for customer2
select your favorite flavor of ice cream:
1.orange  2.straberry 3.venilla. 4chocolate:4
how much ice cream do u want8
please pay 200amount for 8 chocolate ice cream
had you paind it ?Yes
Take it,thank you!

#LIBRARIAN MANAGMENT

In [ ]:
from datetime import datetime, timedelta

# Data structures to store information
books = {
    'Computer Science': [
        {'title': 'Introduction to Algorithms', 'copies': 15},
        {'title': 'Artificial Intelligence: A Modern Approach', 'copies': 25},
        {'title': 'Computer Networks', 'copies': 34},
        {'title': 'Operating System Concepts', 'copies': 19},
        {'title': 'Structure and Interpretation of Computer Programs', 'copies': 13},
        {'title': 'The C Programming Language', 'copies': 11},
        {'title': 'Computer Organization and Design: The Hardware/Software Interface', 'copies': 22},
        {'title': 'Compilers: Principles, Techniques, and Tools', 'copies': 17},
        {'title': 'Introduction to the Theory of Computation', 'copies': 34},
        {'title': 'Database System Concepts', 'copies': 8}
    ],
    'Mechanical Engineering': [
        {'title': 'Engineering Mechanics', 'copies': 10},
        {'title': 'Thermodynamics', 'copies': 5},
        {'title': 'Engineering Mechanics: Statics', 'copies': 11},
        {'title': 'Engineering Mechanics: Dynamics', 'copies': 9},
        {'title': 'Mechanical Engineering Design', 'copies': 33},
        {'title': 'Fundamentals of Thermodynamics', 'copies': 23},
        {'title': 'Introduction to Fluid Mechanics', 'copies': 32},
        {'title': 'Materials Science and Engineering: An Introduction', 'copies': 1},
        {'title': 'Heat Transfer', 'copies': 17},
        {'title': 'Manufacturing Engineering and Technology', 'copies': 27}
    ],
    'Information Science': [
        {'title': 'Data Structures and Algorithms', 'copies': 8},
        {'title': 'Database System Concepts', 'copies': 3},
        {'title': 'Introduction to Information Retrieval', 'copies': 13},
        {'title': 'Modern Information Retrieval: The Concepts and Technology behind Search', 'copies': 18},
        {'title': 'Database System Concepts', 'copies': 32},
        {'title': 'Data Management for Researchers: Organize, Maintain and Share Your Data for Research Success', 'copies': 8},
        {'title': 'Information Storage and Retrieval Systems: Theory and Implementation', 'copies': 1},
        {'title': 'The Information: A History, a Theory, a Flood', 'copies': 32},
        {'title': 'Introduction to Data Science: Data Analysis and Prediction Algorithms with R', 'copies': 23},
        {'title': 'Handbook of Information Science', 'copies': 32}
    ],
    'Artificial Intelligence': [
        {'title': 'Machine Learning', 'copies': 7},
        {'title': 'Deep Learning', 'copies': 2},
        {'title': 'Artificial Intelligence: A Modern Approach', 'copies': 21},
        {'title': 'Pattern Recognition and Machine Learning', 'copies': 22},
        {'title': 'Machine Learning: A Probabilistic Perspective', 'copies': 18},
        {'title': 'Natural Language Processing with Python', 'copies': 11},
        {'title': 'Reinforcement Learning: An Introduction', 'copies': 11},
        {'title': 'Artificial Intelligence for Humans', 'copies': 11},
        {'title': 'Introduction to Machine Learning with Python: A Guide for Data Scientists', 'copies': 32},
        {'title': 'Foundations of Machine Learning', 'copies': 12},
        {'title': 'Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow', 'copies': 20}
    ],
    'Electrical Engineering': [
        {'title': 'Circuit Analysis', 'copies': 10},
        {'title': 'Electromagnetics', 'copies': 15},
        {'title': 'Fundamentals of Electric Circuits', 'copies': 12},
        {'title': 'Electrical Engineering', 'copies': 23},
        {'title': 'Control Systems Engineering', 'copies': 2},
        {'title': 'Power System Analysis and Design', 'copies': 9},
        {'title': 'Digital Design and Computer Architecture', 'copies': 16},
        {'title': 'Signals and Systems', 'copies': 16},
        {'title': 'Communication Systems', 'copies': 11},
        {'title': 'Electromagnetic Fields and Waves', 'copies': 3}
    ],
    'Robotics Engineering': [
        {'title': 'Introduction to Robotics', 'copies': 6},
        {'title': 'Robotics: Control and Sensing', 'copies': 4},
        {'title': 'Introduction to Autonomous Robots: Mechanisms, Sensors, Actuators, and Algorithms', 'copies': 9},
        {'title': 'Robotics: Modelling, Planning, and Control', 'copies': 7},
        {'title': 'Robotics: Principles and Practice', 'copies': 9},
        {'title': 'Robot Operating System (ROS)', 'copies': 12},
        {'title': 'Robotics: State of the Art and Future Challenges', 'copies': 11},
        {'title': 'Modern Robotics: Mechanics, Planning, and Control', 'copies': 12},
        {'title': 'Introduction to Robotics: Analysis, Control, Applications', 'copies': 43},
        {'title': 'Hands-On Robotics with Arduino: Build and Program Your Own Robots Using Arduino', 'copies': 13}
    ]
}


students = {}
librarian_password = 'admin123'

def student_login():
    print("Student Login")
    student_id = input("Enter Student USN: ")
    if student_id not in students:
        students[student_id] = {'borrowed_books': [], 'history': []}

    while True:
        print("\n1. Show All Books")
        print("2. Borrow Book")
        print("3. Return Book")
        print("4. View Borrow History")
        print("5. Logout")
        choice = input("Enter choice: ")

        if choice == '1':
            show_all_books()
        elif choice == '2':
            borrow_book(student_id)
        elif choice == '3':
            return_book(student_id)
        elif choice == '4':
            view_borrow_history(student_id)
        elif choice == '5':
            break
        else:
            print("Invalid choice, please try again.")

def librarian_login():
    password = input("Enter Librarian Password: ")
    if password == librarian_password:
        while True:
            print("\nLibrarian Menu")
            print("1. Show All Books")
            print("2. View Student Borrow History")
            print("3. Logout")
            choice = input("Enter choice: ")

            if choice == '1':
                show_all_books()
            elif choice == '2':
                student_id = input("Enter Student USN : ")
                if student_id in students:
                    view_borrow_history(student_id)
                else:
                    print("Student not barrow any kind of books.")
            elif choice == '3':
                break
            else:
                print("Invalid choice, please try again.")
    else:
        print("Incorrect password.")

def show_all_books():
    print("\nLibrary Books:")
    for section, books_list in books.items():
        print(f"\n{section}:")
        for book in books_list:
            print(f"  {book['title']} - Copies: {book['copies']}")

def borrow_book(student_id):
    section = input("Enter the section name: ").lower()  # Convert input to lowercase
    if section in [s.lower() for s in books.keys()]:  # Check in lowercase
        title = input("Enter the book title: ").lower()  # Convert input to lowercase
        for book in books[[s for s in books.keys() if s.lower() == section][0]]:  # Find the section
            if book['title'].lower() == title:  # Compare book title in lowercase
                if book['copies'] > 0:
                    if book['copies'] > 20:
                        print("More than 20 copies available, you need to buy this book.")
                    else:
                        book['copies'] -= 1
                        borrow_time = datetime.now()
                        due_time = borrow_time + timedelta(days=3)
                        students[student_id]['borrowed_books'].append({
                            'title': book['title'],  # Store the original case
                            'section': section.title(),  # Store section name in title case
                            'borrow_time': borrow_time,
                            'due_time': due_time
                        })
                        students[student_id]['history'].append({
                            'title': book['title'],
                            'section': section.title(),
                            'borrow_time': borrow_time,
                            'due_time': due_time,
                            'returned': False
                        })
                        print(f"You have borrowed this book  '{book['title']}'. you should return this book within {due_time}.")
                else:
                    print("Book is not available.")
                return
        print("Book not found.")
    else:
        print("Section not found.")

def return_book(student_id):
    title = input("Enter the title of the book which you want to return: ").lower()  # Convert input to lowercase
    borrowed_books = students[student_id]['borrowed_books']

    for book in borrowed_books:
        if book['title'].lower() == title:  # Compare book title in lowercase
            borrowed_books.remove(book)
            section = book['section'].lower()  # Convert section name to lowercase
            for lib_book in books[[s for s in books.keys() if s.lower() == section][0]]:
                if lib_book['title'].lower() == title:  # Compare title in lowercase
                    lib_book['copies'] += 1
                    break

            return_time = datetime.now()
            overdue_days = (return_time - book['due_time']).days
            if overdue_days > 0:
                charges = overdue_days * 500
                print(f"Book returned late by {overdue_days} days. Overdue charges: {charges} rupees.")
            else:
                print("Book returned on time.")

            for history_entry in students[student_id]['history']:
                if history_entry['title'].lower() == title and not history_entry['returned']:
                    history_entry['returned'] = True
                    history_entry['return_time'] = return_time
                    break
            return
    print("You have not. borrowed this book.")


def view_borrow_history(student_id):
    print("\nBorrow History:")
    history = students[student_id]['history']
    if history:
        for entry in history:
            status = "Returned" if entry.get('returned', False) else "Not Returned"
            print(f"{entry['title']} (Section: {entry['section']}) - Borrowed on {entry['borrow_time']}, Due on {entry['due_time']} - {status}")
    else:
        print("Not borrowed any kind of books.")

def main():
    while True:
        print("\nLibrary Management System")
        print("1. Student Login")
        print("2. Librarian Login")
        print("3. Exit")
        choice = input("Enter choice: ")

        if choice == '1':
            student_login()
        elif choice == '2':
            librarian_login()
        elif choice == '3':
            break
        else:
            print("Invalid choice, please try again.")

if __name__ == "__main__":
    main()

Library Management System
1. Student Login
2. Librarian Login
3. Exit
Enter choice: 3

In [ ]:
import gradio as gr

# Expense tracker app were we use linear search and binary search
transactions = [
 {"date": "2024-08-01", "amount": 50.0, "description": "Groceries"},
 {"date": "2024-08-02", "amount": 20.0, "description": "Bus fare"},
 {"date": "2024-08-03", "amount": 100.0, "description": "Electricity bill"},
 {"date": "2024-08-04", "amount": 200.0, "description": "New shoes"},
]
# linear search for transaction by date
def search_by_date(target_date):
  for transaction in transactions:
    if transaction["date"] == target_date:
      return transaction
  return "transaction not found"

#binary search for a pirticular transaction or expense by amount
def search_by_amount(traget_amount):
  transactions.sort(key = lambda x: x["amount"])
  #in the the transactions array we use the sort method sort
  #the amount key value in all the dictonaries in the transactions
  # array .and we also use the lambda function which is a small
  # anonymous function which is used to take any number of arguments
  # inside the function in this case we are fetching all of the
  # amount values as arguments
  left = 0
  right = len(transactions) - 1

  while left <= right:
    mid = (left + right) // 2
    if transactions[mid]["amount"] == traget_amount:
      return transactions[mid]
    elif transactions[mid]["amount"] < traget_amount:
      left = mid
    else:
      right = mid - 1
  return "transactions not found"
print(search_by_amount(50.0))

#adding a new expense
def add_expense(date,amount,description):
  new_transaction = {"date":date,"amount":amount,"description":description}
  transactions.append(new_transaction)
  return "expense added sucessfully!"

# checking amount by description
def total_spent_by_description(description):
  total_spent = sum(transaction["amount"] for transaction in transactions if transaction["description"].lower() == description.lower())
  if total_spent > 0:
    return{"Description :" : description, "total_spent: ": total_spent}
  else:
    return "No Expenses were found for this description in the transactions"
# displaying all of the expenses

def display_all_expenses():
  if transactions:
    return transactions
  else:
    return "no transactions available"

# building a gradio interface for our expense tracker application
with gr.Blocks() as demo:
  gr.Markdown("# Expense Tracker")

  with gr.Tab("Search By Date"):
    date_input = gr.Textbox(label = "Enter Date (YYYY-MM-DD)")
    # json is javascript object notation which is a text based format of storing strings
    date_output = gr.JSON(label="Result")
    gr.Button("Search").click(fn=search_by_date, inputs=date_input ,outputs = date_output)

  with gr.Tab("Search By Amount"):
    amount_input = gr.Number(label = "Enter amount")
    # json is javascript object notation which is a text based format of storing strings
    amount_output = gr.JSON(label="Result")
    gr.Button("Search").click(fn=search_by_amount, inputs=amount_input ,outputs=amount_output)

  with gr.Tab("Add a new Expense"):
    date_input = gr.Textbox(label = "Enter Date (YYYY-MM-DD)")
    amount_input = gr.Number(label = "Enter amount")
    description_input = gr.Textbox(label="enter the description")
    add_output = gr.Textbox(label = "status")
    gr.Button("Add Expense").click(fn=add_expense,inputs=[date_input,amount_input,description_input],outputs=add_output)

  with gr.Tab("Display All Expenses"):
    all_expenses_output = gr.JSON(label="All Expenses")
    gr.Button("Show All Expenses").click(fn=display_all_expenses, outputs=all_expenses_output)



demo.launch()

{'date': '2024-08-01', 'amount': 50.0, 'description': 'Groceries'}
Setting queue=True in a Colab notebook requires sharing enabled. Setting `share=True` (you can turn this off by setting `share=False` in `launch()` explicitly).

Colab notebook detected. To show errors in colab notebook, set debug=True in launch()
Running on public URL: https://25f00a3734902d0f19.gradio.live

This share link expires in 72 hours. For free permanent hosting and GPU upgrades, run `gradio deploy` from Terminal to deploy to Spaces (https://huggingface.co/spaces)

PIZZA BILLING SYSTEM

In [65]:
# pizza billing system

class Pizza:
  def __init__(self,size,toppings):
    self.size = size
    self.toppings = toppings
  def cal_price(self):
    base_price = 0
    if self.size == "small":
      base_price = 10
    elif self.size == "mediam":
      base_price =15
    elif self.size == "large":
      base_price = 20
    else:
      print("Enter Correctly")

    topping_price = len(self.toppings) * 2

    total_price = base_price + topping_price
    return total_price
def main():
  print("Welcome to Anjanadri Pizza Shop ")
  size = input("Enter the Size of the Pizza you want(small,large,medium) ")
  toppings = input("Enter The Number of toppings You want ")
  toppings = [toppings.strip() for topping in toppings]

  pizza = Pizza(size,toppings)
  Price = pizza.cal_price()
  print(f"Total price for your pizza is $ {Price}")

if __name__ == "__main__":
  main()

Welcome to Anjanadri Pizza Shop
Enter the Size of the Pizza you want(small,large,medium) large
Enter The Number of toppings You want 5
Total price for your pizza is $ 22

In [64]:

class Node:
  def __init__(self,data):
    self.data = data
    self.next = None
node1 = Node(10)
node2 = Node(20)
node3 = Node(30)

node1.next = node2
node2.next = node3

current = node1

while current:

  print(current.data)
  current = current.next

10
20
30

In [1]:
class TrainCar:
  def __init__(self,passengers):
    self.passengers = passengers
    self.next = None
boghi1 = TrainCar(50)
boghi2 = TrainCar(40)
boghi3 = TrainCar(30)

boghi1.next = boghi2
boghi2.next = boghi3

current_boghi = boghi1
while current_boghi:
  print(f'passengers in this train are :{current_boghi.passengers}')
  current_boghi = current_boghi.next

passengers in this train are :50
passengers in this train are :40
passengers in this train are :30

BINARY SEARCH TREE:
its a hirarchy data structure which is used to rganize data